<div class="gsProject">
  <div class="questionGroup">
    <label for="randomQ" *ngIf="randomQuestion">
      {{ randomQuestion[0].question }}
    </label>
    <input
      *ngIf="!answer"
      type="text"
      name="randomQ"
      id="randomQ"
      placeholder="Type your answer here"
      [(ngModel)]="usersAnswer"
    />

    <p class="answer" *ngIf="answer">The answer is: {{ answer }}</p>

    <button (click)="validateAnswer()">Send my answer</button>

    <button (click)="showAnswer()">Show me the answer after 5 sec</button>
  </div>

  <div class="categoryGroup">
    <label for="category">If you want select question category:</label>

    <ng-select2
      name="category"
      [data]="categoriesS2"
      [placeholder]="'Please choose category'"
      [width]="'100%'"
      [(ngModel)]="selectedCategoryId"
    >
    </ng-select2>

    <button (click)="newQuestion()">I need a new question</button>
  </div>
</div>
